@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "variables";

@font-face {
  font-family: Oxygen;
  src: url('../fonts/Oxygen-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Chewy;
  src: url('../fonts/Chewy.ttf') format('truetype');
}

// #teste {
//   padding:6px;
//   border:3px solid #4a4c3f;
//   animation: testebutton .5s ease-in-out infinite alternate;
// }

@keyframes anima-contato {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.09);
    }
}

body {
  font-family: $font-family-base;
  nav.navbar {
    min-height: 100px;
    background-color: $jumbotron-bg;
    border: none;
    .navbar-brand {
      font-family: $font-family-navbrand;
      font-size: 50px;
      padding-left: 150px;
    }
    .navbar-nav li.contato-nav {
      border:3px solid #4a4c3f;
      animation: anima-contato .5s ease-in-out infinite alternate;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  nav a {
    font-size: 18px;
    padding-top: 40px !important;
    transition: all 0.3s ease;
  }
  > .jumbotron {
    margin-top: 100px;
  }
  nav.navbar.shrink {
    min-height: 35px;
    .navbar-brand {
      font-size: 25px;
      padding-left: 50px;
    }
    a {
      font-size: 15px;
      padding-bottom: 10px !important;
      padding-top: 15px !important;
    }
    .navbar-toggle {
      margin: 8px 15px 8px 0;
      padding: 4px 5px;
    }
  }
}